{% extends "polls/layout.html" %}
{% load polls_extras %}
{% load static %}
{% block head %}
<style>
    .btn-topic {
        background-color:lightblue !important;
        border-color: lightgray;
        margin-right:10px;

    }
    .btn-topic:active, .btn-topic.active {
        background-color:cornflowerblue !important;
        border-color: lightgray !important;
        margin-right:10px;

    }

    .btn-group-topic{
        margin-bottom: 10px;
    }

    .q-text {
        color: black;

        padding: 0;
        text-align: left;
        width: 100%;
        font-weight: 500;
        margin-top: 5px;
    }

    .result-col {
        margin: 2px;
        height: 200px;
        padding-top: 0px;
        padding-bottom: 0px;
        border: none;
    }

    .question-col {
        margin: 2px;
        border: none;
    }

    .flex-label {
        display: flex;
    }
    
    input[type=radio] {
        margin-top: 6px;
        margin-right: 12px;
    }

    .vote-button {
        margin-top: 10px;
        width: 200px !important;

    }

    #smaller-h4 {
        font-size: 0.8em;
    }

    #select-by-topic, #recent-questions {
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .publish-info {
        color: gray;
        font-size: 0.9em;
        font-weight: normal;
    }

</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src= "{% static 'js/polls_script.js' %}"></script>
<script>

    // var votesFromTemplate = '{{ votes_test }}'

    var questionIdArrayFromTemplate = [
        {% for question in all_questions %}
        '{{ question.id }}'{% if not forloop.last %},{% endif %}
        {% endfor %}
    ]

    var topicIdArrayFromTemplate = ['recent','t-All',
        {% for topic in topics %}
        't-{{ topic.id }}'{% if not forloop.last %},{% endif %}
        {% endfor %}
    ]

    var messageList = [
        {% if messages %}
            {% for message in messages %}
            ["{{ message.tags }}", "{{ message }}"]{% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    ]

    

</script>
{% endblock %}
{% block polls_body%}
    <div>

        <h2>Survey</h2>
        
        <h4 id="recent-questions">Most Recent Questions</h4>
        {% if all_questions %}
        <div class="recent">
            {% for question in all_questions|get_recent_questions:3 %}
            <button class="btn btn-link q-text question-{{ question.id }}" id="recent-question-{{ question.id }}" type="button" data-toggle="collapse" data-target=".collapse-{{ question.id }}" data-questionId="{{ question.id }}" aria-expanded="true" aria-controls="q-choices-{{ question.id }}">
                {{ question.question_text }} <span class="publish-info">(Published at {{ question.pub_date }}, {{ votes|get_total_vote_by_q_id:question.id}} vote{{ votes|get_total_vote_by_q_id:question.id|pluralize}} so far.)</span>
            </button>
            <div class="row">
                <div class="collapse collapse-{{ question.id }}" id="recent-q-choices-{{ question.id }}">
                    <div class="card card-body question-col" id="recent-card-q-{{ question.id }}">
                        <form action="{% url 'polls:vote' question.id %}" method="post">
                            {% csrf_token %}
                            {% for choice in question.choices.all %}
                                <label class="flex-label">
                                    <input type="hidden" name="topic" value="recent">
                                    <input type="radio" name="choice" id="recent-choice{{ question.id }}-{{ forloop.counter }}" value="{{ choice.id }}">
                                    <span>{{ choice.choice_text }}</span>
                                </label>
                            {% endfor %}
                            <input class="btn btn-outline-dark btn-sm btn-block vote-button" id="recent-vote-{{ question.id }}" data-questionId="{{ question.id }}" data-section="recent" type="submit" value="Vote">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        

        {% else %}
            <p>No survey questions available.</p>
        {% endif %}

    </div>
    <div>
        <h4 id="select-by-topic">Select by Topic <span id="smaller-h4">(excluding questions from above)</span></h4>

        <div class="btn-group btn-group-sm btn-group-toggle btn-group-topic" data-toggle="buttons">
            <label class="btn btn-secondary btn-topic" id="t-All" data-topic='t-All'>
                <form>
                    <input type="radio" class="input-btn-topic" id="input-t-All"> All
                </form>
                
            </label>
            {% for topic in topics %}
            <label class="btn btn-secondary btn-topic" id="t-{{ topic.id }}" data-topic='t-{{ topic.id }}'>
                <form>
                    <input type="radio" class="input-btn-topic" id="input-t-{{ topic.id }}"> {{ topic }} {{topic.id}}
                </form>
            </label>
            {% endfor %}
        </div>

        <div class='question-filtered-by-topic'>
            <div class="t-All topic-select">
                
                {% for question in all_questions|get_non_recent_questions:3 %}
                <button class="btn btn-link q-text question-{{ question.id }}" id="t-All-question-{{ question.id }}" type="button" data-toggle="collapse" data-target=".collapse-{{ question.id }}" data-questionId="{{ question.id }}" aria-expanded="true" aria-controls="q-choices-{{ question.id }}">
                    {{ question.question_text }} <span class="publish-info">(Published at {{ question.pub_date }}, {{ votes|get_total_vote_by_q_id:question.id}} vote{{ votes|get_total_vote_by_q_id:question.id|pluralize}} so far.)</span>
                </button>
                <div class="row">
                    <div class="collapse collapse-{{ question.id }}" id="t-All-q-choices-{{ question.id }}">
                        <div class="card card-body question-col" id="t-All-card-q-{{ question.id }}">
                            <form action="{% url 'polls:vote' question.id %}" method="post">
                                {% csrf_token %}
                                {% for choice in question.choices.all %}
                                    <label class="flex-label">
                                        <input type="hidden" name="topic" value="t-All">
                                        <input type="radio" name="choice" id="t-All-choice{{ question.id }}-{{ forloop.counter }}" value="{{ choice.id }}">
                                        <span>{{ choice.choice_text }}</span>
                                    </label>
                                {% endfor %}
                                <input class="btn btn-outline-dark btn-sm btn-block vote-button" id="t-All-vote-{{ question.id }}" data-questionId="{{ question.id }}" data-section="t-All" type="submit" value="Vote">
                            </form>
                        </div>

                    </div>
                </div>
                {% endfor %}
                
            </div>
            {% for topic in topics %}
                <div class="t-{{ topic.id }} topic-select">
                    
                        {% for question in topic|get_non_recent_questions_by_topic %}
                        <button class="btn btn-link q-text question-{{ question.id }}" id="t-{{topic.id}}-question-{{ question.id }}" type="button" data-toggle="collapse" data-target=".collapse-{{ question.id }}" data-questionId="{{ question.id }}" aria-expanded="true" aria-controls="q-choices-{{ question.id }}">
                            {{ question.question_text }} <span class="publish-info">(Published at {{ question.pub_date }}, {{ votes|get_total_vote_by_q_id:question.id}} vote{{ votes|get_total_vote_by_q_id:question.id|pluralize}} so far.)</span>
                        </button>
                        <div class="row">
                            <div class="collapse collapse-{{ question.id }}" id="t-{{topic.id}}-q-choices-{{ question.id }}">
                                <div class="card card-body question-col" id="t-{{topic.id}}-card-q-{{ question.id }}">
                                    <form action="{% url 'polls:vote' question.id %}" method="post">
                                        {% csrf_token %}
                                        {% for choice in question.choices.all %}
                                            <label class="flex-label">
                                                <input type="hidden" name="topic" value="t-{{topic.id}}">
                                                <input type="radio" name="choice" id="t-{{topic.id}}-choice{{ question.id }}-{{ forloop.counter }}" value="{{ choice.id }}">
                                                <span>{{ choice.choice_text }}</span>
                                            </label>
                                        {% endfor %}
                                        <input class="btn btn-outline-dark btn-sm btn-block vote-button" id="t-{{topic.id}}-vote-{{ question.id }}" data-questionId="{{ question.id }}" data-section="t-{{ topic.id }}" type="submit" value="Vote">
                                    </form>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    
                </div>
            {% endfor %}
        </div>

        <script type="text/javascript">

        </script>

    </div>



    <p>
        <div>
            <a href="{% url 'polls:add_question'%}" role="button" class="btn btn-secondary btn-mi">Submit a question</a>
        </div>
    </p>

{% endblock %}