{% extends "polls/layout.html" %}

{% block polls_body%}
    <h2>Polls</h2>
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    <h3>Add another question</h3>
    <form action="{% url 'polls:add_question' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input id="submit" type="submit">
    </form>
{% endblock %}